#home{
    text-decoration: none;
}
#tendencias{
    text-decoration: none;
}
#registro{
    text-decoration: none;
}
#inicio{
    text-decoration: none;
    background-color: black;
    position: relative;
    left: 1000px;

}

img{
    width: 200px;
    height: 250px;
}
